body {margin-right:2em;}
.bjt-page {font-weight:bold;}
.bjt-heading0 {font-weight:bold;}
.bjt-heading1 {text-align:center; font-weight:bold;}
.bjt-heading2 {text-align:center; font-size:110%; font-weight:bold;}
.bjt-heading3 {text-align:center; font-size:130%; font-weight:bold;}
.bjt-heading4 {text-align:center; font-size:150%; font-weight:bold;}
.bjt-heading5 {text-align:center; font-size:170%; font-weight:bold;}
.bjt-centered {text-align:center;}
.bjt-unindented {}
.bjt-paragraph {text-indent:3em;}
.bjt-gatha {margin-left:6em;}
